<div class="card">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title > {{heroe.superhero}}</mat-card-title>
      <mat-card-subtitle>{{heroe.alter_ego}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://cloudfront-us-east-1.images.arcpublishing.com/infobae/6E3JQQVWGVHNNBABSIAXBKJ7U4.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{heroe.publisher}}
        <br>
        {{heroe.first_appearance}}
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

</div>
<br>
<br>

